{% extends 'layouts/base.html' %} {% load i18n static %}
{% block title %} Home
{% endblock title %}

{% block content %}

<!-- THE ONE USED FOR THE MAIN PAGE ! THIS IS THE ONE TO MODIFY-->

<style>
    .red-text { color: #d71919; }
    .orange-text { color: #e75216; }
    .green-text { color: #14a614; }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div
            class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute"
          >
            <i class="material-icons opacity-10">weekend</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Pollen near me</p>
            <h4 id="pollenValue" class="mb-0">{{estimation_view|escapejs}}</h4>
            <h6>grains m-3</h6>
          </div>
            <button type="button" id="popoverButton1"
                    class="btn btn-sm btn-info position-absolute bottom-0 end-0 mb-3 mr-1"
                    data-bs-toggle="popover" data-bs-placement="top"
                    data-bs-content="Une exposition élevée aux pollens peut déclencher des réactions allergiques
                    sévères, entraînant des symptômes tels que des éternuements, des démangeaisons et des difficultés respiratoires chez les personnes allergiques. Cela peut considérablement affecter leur qualité de vie." data-bs-trigger="hover">
              ?
            </button>
        </div>
        <hr class="dark horizontal my-0" />
        <div class="card-footer p-3">
          <p class="mb-0">
            <span class="text-danger text-sm font-weight-bolder">+55% </span
            >than last week
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div
            class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute"
          >
            <i class="material-icons opacity-10">person</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Carbon Monoxide</p>
            <h4 id="carbonMonoxideValue" class="mb-0">{{carbon_monoxide|safe}}</h4>
            <h6>µg m-3</h6>
          </div>
            <button type="button" id="popoverButton1" class="btn btn-sm btn-info position-absolute bottom-0 end-0 mb-3 mr-1" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="
Une exposition excessive au monoxyde de carbone peut provoquer des symptômes graves tels que maux de tête, nausées et confusion, pouvant entraîner des problèmes de santé sérieux voire mortels. Il est crucial de prendre des mesures pour prévenir l'inhalation de ce gaz toxique." data-bs-trigger="hover">
              ?
            </button>
        </div>
        <hr class="dark horizontal my-0" />
        <div class="card-footer p-3">
          <p class="mb-0">

            <span class="text-danger text-sm font-weight-bolder"> +1% </span> than last month

          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div
            class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">person</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Ozone</p>
            <h4 id="OzoneValue" class="mb-0">{{ozone_view|safe}}</h4>
            <h6>µg m-3</h6>
          </div>
            <button type="button" id="popoverButton1" class="btn btn-sm btn-info position-absolute bottom-0 end-0 mb-3 mr-1" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Une exposition prolongée à l'ozone peut causer des problèmes respiratoires, des irritations des yeux, et aggraver les conditions pulmonaires préexistantes. Il est essentiel de limiter l'exposition à cet oxydant atmosphérique pour maintenir une santé respiratoire optimale." data-bs-trigger="hover">
              ?
            </button>
        </div>
        <hr class="dark horizontal my-0" />
        <div class="card-footer p-3">
          <p class="mb-0">

            <span class="text-success text-sm font-weight-bolder">-2%</span> than
            yesterday
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div
            class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute"
          >
            <i class="material-icons opacity-10">air</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">PM10</p>
            <h4 id="PM10Value" class="mb-0">{{pm10_view|safe}}</h4>
            <h6>µg m-3</h6>
          </div>
          <button type="button" id="popoverButton1"
                    class="btn btn-sm btn-info position-absolute bottom-0 end-0 mb-3 mr-1"
                    data-bs-toggle="popover" data-bs-placement="top"
                    data-bs-content="Une exposition prolongée aux particules fines PM10 peut déclencher divers
                    symptômes, tels que des difficultés respiratoires, des irritations et des maux de tête,
                    impactant significativement la qualité de vie des individus sensibles."
                  data-bs-trigger="hover">
              ?
            </button>
        </div>
        <hr class="dark horizontal my-0" />
        <div class="card-footer p-3">
          <p class="mb-0">
            <span class="text-success text-sm font-weight-bolder"> %0 </span>than
            yesterday
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- this is a new segment to test created by Fedi-->

  <div class="row mt-4">

    <div class="card">
      <div class="card-header p-3 pt-2">
        <div
          class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute"
        >
          <i class="material-icons opacity-10"></i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">My map</p>
        </div>
      </div>
<!--      {{ pollen_map|safe }}-->


      <hr class="dark horizontal my-0" />
      <div id="map-chart" style="position: relative;background: transparent;"></div>
    </div>


  </div>
  <!-- Fedi -->

  <div class="row mt-4">
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
      <div class="card z-index-2">
        <div
          class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent"
        >
          <div
            class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1"
          >
            <div class="chart">
              <canvas
                id="chart-bars"
                class="chart-canvas"
                height="170"
              ></canvas>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="mb-0">Pollen estimation this week</h6>
          <p class="text-sm"></p>
          <hr class="dark horizontal" />
          <div class="d-flex">
            <i class="material-icons text-sm my-auto me-1">schedule</i>
            <p class="mb-0 text-sm">model prediction sent 2 days ago</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
      <div class="card z-index-2">
        <div
          class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent"
        >
          <div
            class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1"
          >
            <div class="chart">
              <canvas
                id="chart-line"
                class="chart-canvas"
                height="170"
              ></canvas>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="mb-0">Overall pollution estimation</h6>
          <p class="text-sm">
            (<span class="font-weight-bolder">+0.5%</span>) increase in today
            numbers.
          </p>
          <hr class="dark horizontal" />
          <div class="d-flex">
            <i class="material-icons text-sm my-auto me-1">schedule</i>
            <p class="mb-0 text-sm">updated 4 min ago</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-4 mb-3">
      <div class="card z-index-2">
        <div
          class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent"
        >
          <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
            <div class="chart">
              <canvas
                id="chart-line-tasks"
                class="chart-canvas"
                height="170"
              ></canvas>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="mb-0">Ozone and Nitrogen Dioxide</h6>
          <p class="text-sm"></p>
          <hr class="dark horizontal" />
          <div class="d-flex">
            <i class="material-icons text-sm my-auto me-1">schedule</i>
            <p class="mb-0 text-sm">just updated</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h6>Projects</h6>
              <p class="text-sm mb-0">
                <i class="fa fa-check text-info" aria-hidden="true"></i>
                <span class="font-weight-bold ms-1">30 done</span> this month
              </p>
            </div>
            <div class="col-lg-6 col-5 my-auto text-end">
              <div class="dropdown float-lg-end pe-4">
                <a
                  class="cursor-pointer"
                  id="dropdownTable"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa fa-ellipsis-v text-secondary"></i>
                </a>
                <ul
                  class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5"
                  aria-labelledby="dropdownTable"
                >
                  <li>
                    <a
                      class="dropdown-item border-radius-md"
                      href="javascript:;"
                      >Action</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item border-radius-md"
                      href="javascript:;"
                      >Another action</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item border-radius-md"
                      href="javascript:;"
                      >Something else here</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Info
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  >
                    Members
                  </th>
                  <th
                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Confidence
                  </th>
                  <th
                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Overall quality
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <!--<img src="{% static 'img/small-logos/logo-xd.svg' %}" class="avatar avatar-sm me-3" alt="xd">
                          -->
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">
                          Users confirming prediction
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="avatar-group mt-2">
                      <a
                        href="javascript:;"
                        class="avatar avatar-xs rounded-circle"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Ryan Tompson"
                      >
                        <img src="{% static 'img/team-1.jpg' %}" alt="team1" />
                      </a>
                      <a
                        href="javascript:;"
                        class="avatar avatar-xs rounded-circle"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Romina Hadid"
                      >
                        <img src="{% static 'img/team-2.jpg' %}" alt="team2" />
                      </a>
                      <a
                        href="javascript:;"
                        class="avatar avatar-xs rounded-circle"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Alexander Smith"
                      >
                        <img src="{% static 'img/team-3.jpg' %}" alt="team3" />
                      </a>
                      <a
                        href="javascript:;"
                        class="avatar avatar-xs rounded-circle"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Jessica Doe"
                      >
                        <img src="{% static 'img/team-4.jpg' %}" alt="team4" />
                      </a>
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="text-xs font-weight-bold"> 70% </span>
                  </td>
                  <td class="align-middle">
                    <div class="progress-wrapper w-75 mx-auto">
                      <div class="progress-info">
                        <div class="progress-percentage">
                          <span class="text-xs font-weight-bold">60%</span>
                        </div>
                      </div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-info w-60"
                          role="progressbar"
                          aria-valuenow="60"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card h-100">
        <div class="card-header pb-0">
          <h6>Notification overview</h6>
          <p class="text-sm">
          </p>
        </div>
        <div class="card-body p-3">
          <div class="timeline timeline-one-side">
            <div class="timeline-block mb-3">
              <span class="timeline-step">
                <i class="material-icons text-success text-gradient"
                  >notifications</i
                >
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0">
                  Team recommendation
                </h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
                  Today
                </p>
              </div>
            </div>
            <div class="timeline-block mb-3">
              <span class="timeline-step">
                <i class="material-icons text-danger text-gradient">warning</i>
              </span>
              <div class="timeline-content">
                <h6 class="text-dark text-sm font-weight-bold mb-0">Warning</h6>
                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
                  few days back
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </div>
  {% endblock content %} {% block scripts %}
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");
    var snapData = JSON.parse("{{ data_snap|escapejs }}");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["M", "T", "W", "T", "F", "S", "S"],
        datasets: [
          {
            label: "Pollen concentration",
            tension: 0.4,
            borderWidth: 0,
            borderRadius: 4,
            borderSkipped: false,
            backgroundColor: "rgba(255, 255, 255, .8)",
            data: snapData,
            maxBarThickness: 6,
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          },
        },
        interaction: {
          intersect: false,
          mode: "index",
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: "rgba(255, 255, 255, .2)",
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: "normal",
                lineHeight: 2,
              },
              color: "#fff",
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: "rgba(255, 255, 255, .2)",
            },
            ticks: {
              display: true,
              color: "#f8f9fa",
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: "normal",
                lineHeight: 2,
              },
            },
          },
        },
      },
    });

    var ctx2 = document.getElementById("chart-line").getContext("2d");

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [
          {
            label: "Carbon Monoxide",
            tension: 0,
            borderWidth: 0,
            pointRadius: 5,
            pointBackgroundColor: "rgba(255, 255, 255, .8)",
            pointBorderColor: "transparent",
            borderColor: "rgba(255, 255, 255, .8)",
            borderColor: "rgba(255, 255, 255, .8)",
            borderWidth: 4,
            backgroundColor: "transparent",
            fill: true,
            data: [5, 4, 4, 4.2, 5, 5, 2, 6, 7],
            maxBarThickness: 6,
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          },
        },
        interaction: {
          intersect: false,
          mode: "index",
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: "rgba(255, 255, 255, .2)",
            },
            ticks: {
              display: true,
              color: "#f8f9fa",
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: "normal",
                lineHeight: 2,
              },
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5],
            },
            ticks: {
              display: true,
              color: "#f8f9fa",
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: "normal",
                lineHeight: 2,
              },
            },
          },
        },
      },
    });

    var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");
    var snapData_nitro = JSON.parse("{{ data_snap_nitro|escapejs }}");
    new Chart(ctx3, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [
          {
            label: "Nitrogen dioxide",
            tension: 0,
            borderWidth: 0,
            pointRadius: 5,
            pointBackgroundColor: "rgba(255, 255, 255, .8)",
            pointBorderColor: "transparent",
            borderColor: "rgba(255, 255, 255, .8)",
            borderWidth: 4,
            backgroundColor: "transparent",
            fill: true,
            data: snapData_nitro,
            maxBarThickness: 6,
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          },
        },
        interaction: {
          intersect: false,
          mode: "index",
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: "rgba(255, 255, 255, .2)",
            },
            ticks: {
              display: true,
              padding: 10,
              color: "#f8f9fa",
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: "normal",
                lineHeight: 2,
              },
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5],
            },
            ticks: {
              display: true,
              color: "#f8f9fa",
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: "normal",
                lineHeight: 2,
              },
            },
          },
        },
      },
    });
  </script>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js"></script>

  <script type="text/javascript">
    var chartData = JSON.parse("{{ pollen_fig|escapejs }}");
    var config = {
      responsive: true,
      displayModeBar: false,
      modeBarButtonsToRemove: ["toImage"],
      backgroundColor: "transparent",
    };
    var layout = { showlegend: true };
    Plotly.newPlot("map-chart", chartData, layout, config);
  </script>
  <script>
    var element = document.querySelector(".cbcoloraxis.colorbar");
    element.style.transform = "rotate(90deg)";
    element.style.transformBox = "fill-box";
    var childElements = document.querySelector(".cbtitle");
    childElements.style.transform = "rotate(0deg)";
    childElements.style.transformBox = "fill-box";
  </script>

  <script>
    function updateTextColor(elementId, thresholds, classPrefix) {
      var WdigetElement = document.getElementById(elementId);
      var WidgetValue = parseFloat(WdigetElement.innerText);

        // Determine the class based on the thresholds
      var colorClass;
        if (WidgetValue > thresholds.high) {
            colorClass = classPrefix + 'red-text';
        } else if (WidgetValue > thresholds.medium) {
            colorClass = classPrefix + 'orange-text';
        } else {
            colorClass = classPrefix + 'green-text';
        }

        // Apply the class to the element
      WdigetElement.classList.add(colorClass);

        // Update the color of the text
      WdigetElement.style.color = getComputedStyle(document.body).getPropertyValue("--" + colorClass + "-color");
    }

    document.addEventListener("DOMContentLoaded", function() {
      var CarbonMonoxideThresholds = {
        'high': 130,
        'medium': 100,
        'low': 60,
      };

      var PollenThresholds = {
        'high': 30,
        'medium': 60,
        'low': 90,
      };

      var OzoneThresholds = {
        'high': 70,
        'medium': 30,
        'low': 10,
      };

      var PM10Thresholds = {
        'high': 54,
        'medium': 8,
        'low': 5,
      };

        // Call the function with the element ID, thresholds, and class prefix
      updateTextColor("carbonMonoxideValue", CarbonMonoxideThresholds, '');
      updateTextColor("pollenValue", PollenThresholds, '');
      updateTextColor("OzoneValue", OzoneThresholds, '');
      updateTextColor("PM10Value", PM10Thresholds, '');
    });
  </script>
<script>
// Initialize Bootstrap popovers
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
});
</script>
  {% endblock scripts %}
</div>
